body {
    font-family: "Roboto",sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style-type: none;
}

p {
    text-align: left;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0; 
    padding: 0; 
}

ul {
    margin: 0; 
    padding: 0; 
    
}

.header-container {
    display: flex;
    width: 100%;
    height: 72px;
    padding-top: 24px;
}

.item_logo {
    margin-left: 156px;

}

.item_hl {
    margin-left: 218px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.item_cl {
    margin-left: 566px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.lgtp {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
}


.lgtp_spn {
    color:#2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-list {
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
}


.header-list:hover,
.header-list:focus {
    color: #404bbf
}

.address {
    font-style: normal;
}


.address-list {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list:hover,
.address-list:focus {
    color: #404bbf;
}

.hero-container {
    display: flex;
    background-color: #2E2F42;
    height: 600px;
    max-width: 100%;
}


.item_btn {
    margin-top: 404px;
}

.hero {
    color: #FFFFFF;
    background-color: #2E2F42;
}

.hero-text {
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;

}

.btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 0;
    padding: 16px 32px 16px 32px;
}

.btn:hover,
.btn:focus {
    background-color:#404BBF;
}

.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.porfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background-color: #2E2F42; 
}

.logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logotype_spn {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

footer {
    background-color: #2e2f42;
}

.footer-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}